// ============================
// component
// ============================

// ----------------------------
// panels
// ----------------------------

.c-panels{
    padding-left: $space_l;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    &__item{
        box-sizing: border-box;
        margin-bottom: $space_3l;
        width: calc(50% - #{$space_l});
        margin-right: $space_l;
    }
    &__head{
        padding: $space_s;
        background: $font-color_sub;
        box-sizing: border-box;
        margin-bottom: $space_m;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: 1.0s;
        cursor: pointer;
        &:hover{
            transition: 1.0s;
            box-shadow: 0 10px 15px rgba(0,0,0, 0.5);
        }


    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $space_s;
    }
    &__title{
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__avator{
        &-pic{
            width: 20px;
            display: inline-block;
            margin-right: $space_s;
        }
    }
}