// ==========================
// project
// ==========================

// --------------------------
// detail
// --------------------------

.p-detail{
    padding: $space_m;
    box-sizing: border-box;
    @include mq() {
        width: 60%;
        margin: 0 auto;
    }
    &__item{
        box-sizing: border-box;
        margin-bottom: $space_3l;
    }
    &__head{
        padding: $space_s;
        background: $font-color_sub;
        box-sizing: border-box;
        margin-bottom: $space_m;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    &__favorite{
        &-icon{
            color: $favorite_not_like;
            font-size: $font-size_2l;
            &--active{
                color: $favorite_is_like;
            }
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $space_s;
    }
    &__title{
        font-size: $font-size_2l;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: $space_l;
    }
    &__avator{
        &-pic{
            width: 20px;
            display: inline-block;
            margin-right: $space_s;
        }
    }
    &__txt{
        display: block;
        background: $font-color_sub;
        padding: $space_m;
        box-sizing: border-box;
        min-height: 40px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        word-wrap: break-word;
    }
    &__tag-area{
        margin-bottom: $space_l;

    }
    &__tag{
        display: inline-block;
        background: $font-color_sub;
        padding: $space_m;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin-right: $space_m;
        margin-bottom: $space_m;
        color: $font-color_default;
        &:hover{
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
            transition: 1.0s;
        }
    }
    &__chat{
        &-l{
            margin: $space_m auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &-user{
            font-size: $font-size_s;
        }
        &-txt{
            background: $font-color_sub;
            position: relative;
            padding: $space_m;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            word-break: break-all;
            &::after{
                content: "";
                position: absolute;
                border: 10px solid transparent;
                left: -26px;
                border-right: 22px solid $font-color_sub;
                top: 10px;
            }
        }
        &-img{
            width: 40px;
            height: auto;
            margin-right: $space_2l;
        }
    }
    &__msg{
        width: 100%;
        &--alert{
            color: $err_color_2;
        }
    }
    &__form{
        overflow: hidden;
    }
    &__input{
        width: 100%;
        border: none;
        padding: $space_m;
        box-sizing: border-box;
        height: 100px;
        font-size: $font-size_m;
        border-radius: 5px;
        
    }
    &__btn{
        border: none;
        float: right;
        background: $btn-color_sub;
        color: $font-color_sub;
        padding: $space_m;
        border-radius: 5px;
        cursor: pointer;
        &--isValid{
            cursor: not-allowed;
            background: #c040206e;
        }
    }
    &__unregist{
        display: block;
        background: $font-color_sub;
        text-align: center;
        padding: $space_m;
        box-sizing: border-box;
        margin-bottom: $space_2l;
    }
}