// ========================
// project
// ========================

// ------------------------
// index
// ------------------------

.p-index{
    &__title{
        padding-left: $space_l;
        padding-right: $space_l;
        box-sizing: border-box;
        margin-bottom: $space_s;
    }
}