// ============================
// utility
// ============================

// ----------------------------
// font-size
// ----------------------------

.u-text--large{
    font-size: $font-size_4l;
}

.u-avator--radius{
    border-radius: 50%;
}
.u-btn--alert{
    background: $btn-color_sub;
}

.u-inlineBlock{
    display: inline-block;
}